 <widget id="A6032077390710"  version="0.0.1">
    <name>校园管理</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>    <!--百度文字识别-->    <feature name="baiduIdentifyOCR">
        <param name="APIKey" value="E9v68McXyNIwqz4X846UmaPo"/>
        <param name="SecretKey" value="7tnauoLn6QwKKPOaMH0APWMaiSFK3cby"/>
    </feature>

    <!--高德定位配置-->
    <feature name="aMapLBS">
        <param name="android_api_key" value="315e8aee1cb5671531db4397d5e580de" />
    </feature>

    <!--极光推送-->
    <feature name="ajpush">
        <param name="app_key" value="f9652a6231087806accdf49b"/>
        <param name="channel" value="17d3ea252e685d947a2911ac"/>
    </feature>

    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
</widget>